USE [master]
GO
/****** Object:  Database [CinemaPremieraDB]    Script Date: 04.10.2025 17:42:48 ******/
CREATE DATABASE [CinemaPremieraDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaPremieraDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaPremieraDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaPremieraDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CinemaPremieraDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaPremieraDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaPremieraDB]
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 04.10.2025 17:42:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[Auth_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pincode] [int] NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_Authorization] PRIMARY KEY CLUSTERED 
(
	[Auth_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 04.10.2025 17:42:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[Film_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[AgeLimit] [int] NOT NULL,
	[DurationInMinutes] [decimal](10, 0) NOT NULL,
	[Genre] [nvarchar](max) NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[Film_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 04.10.2025 17:42:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[DateBuy] [date] NOT NULL,
	[Film_ID] [int] NOT NULL,
	[DateSession] [date] NOT NULL,
	[PriceList_ID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[CheckSum] [decimal](8, 2) NOT NULL,
	[PaymentType_ID] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 04.10.2025 17:42:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PaymentType_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PaymentType_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceList]    Script Date: 04.10.2025 17:42:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceList](
	[PriceList_ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_PriceList] PRIMARY KEY CLUSTERED 
(
	[PriceList_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 04.10.2025 17:42:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auth] ON 

INSERT [dbo].[Auth] ([Auth_ID], [Pincode], [Role_ID]) VALUES (1, 1111, 1)
INSERT [dbo].[Auth] ([Auth_ID], [Pincode], [Role_ID]) VALUES (2, 2222, 2)
INSERT [dbo].[Auth] ([Auth_ID], [Pincode], [Role_ID]) VALUES (3, 3333, 3)
SET IDENTITY_INSERT [dbo].[Auth] OFF
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([Film_ID], [Title], [AgeLimit], [DurationInMinutes], [Genre]) VALUES (1, N'Домовенок Кузя', 6, CAST(96 AS Decimal(10, 0)), N'Комедия, Семейное кино, Фэнтези')
INSERT [dbo].[Film] ([Film_ID], [Title], [AgeLimit], [DurationInMinutes], [Genre]) VALUES (2, N'Финист. Первый богатырь', 6, CAST(129 AS Decimal(10, 0)), N'Фэнтези, Приключения, Сказка')
INSERT [dbo].[Film] ([Film_ID], [Title], [AgeLimit], [DurationInMinutes], [Genre]) VALUES (3, N'Волшебник Изумрудного города', 6, CAST(112 AS Decimal(10, 0)), N'Фэнтези, Приключения, Семейный фильм, Сказка')
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Order_ID], [DateBuy], [Film_ID], [DateSession], [PriceList_ID], [Count], [CheckSum], [PaymentType_ID], [Note]) VALUES (1, CAST(N'2025-01-02' AS Date), 1, CAST(N'2025-01-02' AS Date), 4, 5, CAST(1250.00 AS Decimal(8, 2)), 1, N'')
INSERT [dbo].[Order] ([Order_ID], [DateBuy], [Film_ID], [DateSession], [PriceList_ID], [Count], [CheckSum], [PaymentType_ID], [Note]) VALUES (2, CAST(N'2025-01-02' AS Date), 1, CAST(N'2025-01-02' AS Date), 4, 2, CAST(500.00 AS Decimal(8, 2)), 1, N'')
INSERT [dbo].[Order] ([Order_ID], [DateBuy], [Film_ID], [DateSession], [PriceList_ID], [Count], [CheckSum], [PaymentType_ID], [Note]) VALUES (3, CAST(N'2025-01-02' AS Date), 1, CAST(N'2025-01-02' AS Date), 4, 1, CAST(250.00 AS Decimal(8, 2)), 1, N'')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PaymentType_ID], [Title]) VALUES (1, N'Банковская карта')
INSERT [dbo].[PaymentType] ([PaymentType_ID], [Title]) VALUES (2, N'Внешняя оплата')
INSERT [dbo].[PaymentType] ([PaymentType_ID], [Title]) VALUES (3, N'Пушкинская карта')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[PriceList] ON 

INSERT [dbo].[PriceList] ([PriceList_ID], [Price]) VALUES (1, CAST(170.00 AS Decimal(8, 2)))
INSERT [dbo].[PriceList] ([PriceList_ID], [Price]) VALUES (2, CAST(200.00 AS Decimal(8, 2)))
INSERT [dbo].[PriceList] ([PriceList_ID], [Price]) VALUES (3, CAST(230.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[PriceList] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_ID], [Title]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([Role_ID], [Title]) VALUES (2, N'Методист')
INSERT [dbo].[Role] ([Role_ID], [Title]) VALUES (3, N'Кассир')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Auth]  WITH CHECK ADD  CONSTRAINT [FK_Auth_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[Auth] CHECK CONSTRAINT [FK_Auth_Role]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Film] FOREIGN KEY([Film_ID])
REFERENCES [dbo].[Film] ([Film_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Orders_Film]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PaymentType] FOREIGN KEY([PaymentType_ID])
REFERENCES [dbo].[PaymentType] ([PaymentType_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Orders_PaymentType]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PriceList] FOREIGN KEY([PriceList_ID])
REFERENCES [dbo].[PriceList] ([PriceList_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Orders_PriceList]
GO
USE [master]
GO
